#body{
  background-image: url(background.jpg);
  background-size: cover;
}
.container{
  width: 1000px;
  margin: 150px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.logo{
  width: 300px;
}
#h1{
  color: lime;
}
.bottoni{
  background-color: lime;
  margin: 5px;
  padding: 10px;
}
.section1{
  text-align: center;
}
.main{
  color: white;
}
